<!-- <label for="title">Title</label>
<input type="text">
<br>
<label for="message">Message</label>
<input type="text">
<br>
<button>submit</button> -->

<form action="">
  <legend>New Message</legend><br>
  <label for="">Title</label><br>
  <input type="text"><br>
  <label for="">Message</label><br>
  <input type="text">
  <input type="submit">
</form>

