<form action="">
  <legend>New Message</legend><br>
  <label for="">Title</label><br>
  <input type="text"><br>
  <label for="">Message</label><br>
  <input type="text">
  <input type="submit">
</form>

